name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    strategy:
      matrix:
        node-version: [lts/*]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Test / ${{ matrix.os }}
    steps:
      - uses: holepunchto/actions/node-base@v1
      - run: npm test
      - run: npm run test-example
      - run: npm -g install bare
      - run: npm run test:bare
